<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置JMS连接工厂 -->
    <bean id="connectionFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory">
        <property name="brokerURL" value="${jms.broker.url}" />
    </bean>
    
    <!-- 配置JMS模版 -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory" />
    </bean>
    <bean id="conTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory" />
    </bean>
    <bean id="picJMSTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory" />
    </bean>
    <bean id="scoreJMSTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory" />
    </bean>
    
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>classpath:properties/activeMQ.properties</value>
        </property>
    </bean>
    
    <!-- 注册队列 -->
    <bean id="regisQueue" class="org.apache.activemq.command.ActiveMQQueue">
    	<!-- 设置消息队列的名字 -->
    	<constructor-arg index="0" value="${jms.register.name}" />
    </bean>
    
    <!-- 投诉队列 -->
    <bean id="complainQueue" class="org.apache.activemq.command.ActiveMQQueue">
    	<!-- 设置消息队列的名字 -->
    	<constructor-arg index="0" value="${jms.complain.name}" />
    </bean>
    
    <!-- 推荐菜品队列 -->
    <bean id="picQueue" class="org.apache.activemq.command.ActiveMQQueue">
    	<!-- 设置消息队列的名字 -->
    	<constructor-arg index="0" value="${jms.pic.name}" />
    </bean>
    
    <!-- 评分队列 -->
    <bean id="scoreQueue" class="org.apache.activemq.command.ActiveMQQueue">
    	<!-- 设置消息队列的名字 -->
    	<constructor-arg index="0" value="${jms.score.name}" />
    </bean>
   
    <!-- 消息消费者 -->
    <bean id="registerComsumer" class="ita.project4.main.net.jms.listener.RegisterComsumer">
    	<property name="jmsTemplate" ref="jmsTemplate" />
    </bean>
    <bean id="complainComsumer" class="ita.project4.main.net.jms.listener.ComplainComsumer">
    	<property name="conTemplate" ref="conTemplate" />
    </bean>
    <bean id="picComsumer" class="ita.project4.main.net.jms.listener.PicComsumer">
    	<property name="picJMSTemplate" ref="picJMSTemplate" />
    </bean>
    <bean id="scoreComsumer" class="ita.project4.main.net.jms.listener.ScoreComsumer">
    	<property name="scoreJMSTemplate" ref="scoreJMSTemplate" />
    </bean>
    
    <!-- 监听容器 -->
    <bean id="jmsContainerRequest" class="org.springframework.jms.listener.DefaultMessageListenerContainer">  
       <property name="connectionFactory" ref="connectionFactory" />  
       <property name="destination" ref="regisQueue" />  
       <property name="messageListener" ref="registerComsumer" /> 
   </bean>
   <bean id="ContainerRequest" class="org.springframework.jms.listener.DefaultMessageListenerContainer">  
       <property name="connectionFactory" ref="connectionFactory" />  
       <property name="destination" ref="complainQueue" />  
       <property name="messageListener" ref="complainComsumer" /> 
   </bean>
   <bean id="PicRequest" class="org.springframework.jms.listener.DefaultMessageListenerContainer">  
       <property name="connectionFactory" ref="connectionFactory" />  
       <property name="destination" ref="picQueue" />  
       <property name="messageListener" ref="picComsumer" /> 
   </bean>
   <bean id="ScoreRequest" class="org.springframework.jms.listener.DefaultMessageListenerContainer">  
       <property name="connectionFactory" ref="connectionFactory" />  
       <property name="destination" ref="scoreQueue" />  
       <property name="messageListener" ref="scoreComsumer" /> 
   </bean>
   
    <!-- 应答监听容器 
    <bean id="jmsContainerReply" class="org.springframework.jms.listener.DefaultMessageListenerContainer">  
       <property name="connectionFactory" ref="connectionFactory" />  
       <property name="destination" ref="replyDestination" />  
       <property name="messageListener" ref="producer" />  
   </bean>-->
   
    <!-- 应答消息的目的地（一个队列） 
    <bean id="replyDestination" class="org.apache.activemq.command.ActiveMQQueue">-->
    	<!-- 设置消息队列的名字 
    	<constructor-arg index="0" value="replyQueue" />
    </bean>
    -->
    <!-- 消息生产者 
    <bean id="producer" class="com.zhaiyz.activemq.Producer">
        <property name="jmsTemplate" ref="jmsTemplate" />
        <property name="requestDestination" ref="requestDestination" />
        <property name="replyDestination" ref="replyDestination" />
    </bean>
    -->
</beans>